.hero-section {
    background-color: $primary-color;
    padding: $spacing;
    color: $text-color;
    text-align: center;
  
    h1 {
      font-family: $fonts;
      font-size: 3rem;
    }
  
    .hero-button {
      background-color: $secondary-color;
      color: white;
      border: none;
      padding: 1rem 2rem;
      cursor: pointer;
  
      &:hover {
        background-color: darken($secondary-color, 10%);
      }
    }
  }
  