$fonts: 'Poppins', Helvetica, sans-serif;
$primary-color: #ab99ca;
$secondary-color: #c59d5f;
$text-color: #fff;

$accent-color: #c59d5f;
$dark-overlay: rgba(0, 0, 0, 0.5);
$white: #ffffff;
$transition-speed: 0.3s;
$hero-duration: 15s;
$spacing: 2rem;
$spacing-xs: 0.25rem;
$spacing-sm: 0.5rem;
$spacing-md: 1rem;
$spacing-lg: 2rem;
$spacing-xl: 4rem;
$spacing-zero: 0;

